/* Complete Checkout */
.complete-checkout .img-fluid{
    max-width: 66%;
    height: auto;
}

.complete-checkout .btn-dashboard{
    padding: 0.75rem 3.313rem;
    background-color: #4D17E2;
}

.complete-checkout .btn-whatsapp{
    padding: 0.75rem 1.75rem;
    background-color: #E7EAF5;
}

@media (min-width:768px){
.complete-checkout .button-group{
    width: 250px;
}
}
/*  */