/* Details */
.detail .img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 1.625rem;
}

.detail hr{
        margin: 0;
        background-color:#E7EAF5;
        border: 0;
        opacity: 1;
}

.detail input[type="text"]{
    max-width: 437px;
    border: 1px solid #0C145A;
    padding: 0.75rem 1.625rem;
    color: #0C145A;
}

.detail input[type="text"]:focus-within{
    color: #0C145A;
}

.detail input[type="text"]::placeholder{
    color: #CCD0DD;
}

.detail .detail-card{
    transition: all 0.1s linear;
    background-color: #F9FAFF;
    border-radius: 1.625rem;
    padding: 1.875rem;
    cursor: pointer;
}

.detail input[type="radio"]:checked+.detail-card{
    border: 2px solid #00BAFF;
    background-color: rgba(0, 186, 255, 0.05);
}

.detail .detail-card #icon-check{
    transition: all 0.1s linear;
    opacity: 0;
}

.detail input[type="radio"]:checked+.detail-card #icon-check{
    opacity: 1;
}

.detail .btn-submit{
        background-color: #4D17E2;
        padding: 0.75rem 3rem;
}
