.transactions {
  background-color: #fbfcfd;
}

.transactions main.main-wrapper {
  height: 100%;
  margin-right: auto;
  position: relative;
  padding: 50px 20px 50px 20px;
  @media (min-width: 768px) {
    padding: 50px 50px 50px 0px;
    margin-left: 340px;
  }
}

// .transactions main .main-content{
//   max-width: 1047px;
// }

.transactions .btn {
  display: inline-block;
  width: 112px;
  padding: 0.563rem;
}

.transactions .btn-status.btn-active {
  color: #ffffff;
  background-color: #0c145a;
}

.transactions .btn-status {
  color: #0c145a;
  background-color: #e7eaf5;
}

.transactions .latest-transaction .main-content-table {
  background-color: #ffffff;
  padding: 1.25rem 1.875rem;
  border-radius: 1rem;
  &.scroll-x {
    overflow-x: scroll;
  }
}

.transactions .latest-transaction .game-title-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.transactions .latest-transaction .game-title {
  white-space: nowrap;
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transactions .table > :not(caption) > * > * {
  padding: 10px 0px;
}

.transactions .latest-transaction table thead tr th {
  font-weight: 400;
}

.transactions .latest-transaction .icon-status {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  margin: 9px 6px 0px 0px;
}

.transactions .latest-transaction .icon-status.pending {
  background-color: #febd57;
}

.transactions .latest-transaction .icon-status.success {
  background-color: #1abc9c;
}

.transactions .latest-transaction .icon-status.failed {
  background-color: #fe5761;
}

@media (max-width: 992px) {
  .transactions main.main-wrapper {
    width: 100%;
  }
}
