.transactions-detail {
  background-color: #fbfcfd;
}

.transactions-detail main.main-wrapper {
  height: 100%;
  margin-right: auto;
  position: relative;
  padding: 50px 20px 50px 20px;
  @media (min-width: 768px) {
    padding: 50px 50px 50px 0px;
    margin-left: 340px;
  }
}

.transactions-detail main .main-content {
  max-width: 860px;
}

.transactions-detail .btn-status.btn-active {
  color: #ffffff;
  background-color: #0c145a;
}

.transactions-detail .btn-status {
  color: #0c145a;
  background-color: #e7eaf5;
}

.transactions-detail .details .main-content-card {
  background-color: #ffffff;
  padding: 1.875rem;
  border-radius: 1rem;
  max-width: 860px;
}

.transactions-detail .details .game-title-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.transactions-detail .details .game-title {
  white-space: nowrap;
  width: 135px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.transactions-detail .table > :not(caption) > * > * {
  padding: 10px 0px;
}

.transactions-detail .details table thead tr th {
  font-weight: 400;
}

.transactions-detail .details .icon-status {
  width: 6px;
  height: 6px;
  border-radius: 999px;
  margin: 9px 6px 0px 20px;
}

.transactions-detail .details .icon-status.pending {
  background-color: #febd57;
}

.transactions-detail .details .icon-status.success {
  background-color: #1abc9c;
}

.transactions-detail .details .icon-status.failed {
  background-color: #fe5761;
}

.checkout {
  max-width: 800px;
}

.transactions-detail .checkout .label {
  width: 130px;
  padding: 0.5rem;
}

.transactions-detail .checkout .label.pending {
  color: #febd57;
  background-color: #ffeed3;
}

.transactions-detail .checkout .label.success {
  color: #1abc9c;
  background-color: #b8e9df;
}

.transactions-detail .checkout .label.failed {
  color: #fe5761;
  background-color: #ffc6c9;
}

.transactions-detail .checkout .img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 1.625rem;
}

.transactions-detail .checkout .cropped {
  width: 110px;
  height: 140px;
  overflow: hidden;
  border-radius: 1.625rem;
}

.transactions-detail .checkout .cropped img {
  margin: -10px 0px 0px 0px;
}

.transactions-detail .checkout hr {
  margin: 0;
  background-color: #e7eaf5;
  border: 0;
  opacity: 1;
}

.transactions-detail .checkout span.purchase-details,
.transactions-detail .checkout span.payment-details {
  display: block;
  font-weight: 500;
}

.transactions-detail .checkout .btn-whatsapp {
  padding: 0.75rem 2.875rem;
  background-color: #4d17e2;
}

.transactions-detail .checkout .img-checkout {
  width: 110px;
  height: 140px;
}

@media (min-width: 768px) {
  .transactions-detail .checkout span.purchase-details,
  .transactions-detail .checkout span.payment-details {
    float: right;
  }

  .transactions-detail .checkout .cropped {
    width: 200px;
    height: 130px;
    overflow: hidden;
    border-radius: 1.625rem;
  }
}

@media (max-width: 992px) {
  .transactions-detail main.main-wrapper {
    width: 100%;
  }
}
