.edit-profile {
  background-color: #fbfcfd;
}

.edit-profile main.main-wrapper {
  height: 100%;
  margin-right: auto;
  position: relative;
  padding: 50px 20px 50px 20px;
  @media (min-width: 768px) {
    padding: 50px 50px 50px 0px;
    margin-left: 340px;
  }
}

.edit-profile .bg-card {
  background-color: #fff;
  border-radius: 1rem;
  max-width: 590px;
}
.edit-profile main .avatar-overlay:hover {
  opacity: 1;
}

.edit-profile main .avatar-overlay {
  background-color: rgba(12, 20, 90, 0.7);
  width: 90px;
  height: 90px;
  border-radius: 999px;
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}

.edit-profile .image-upload label {
  cursor: pointer;
}

.edit-profile .image-upload input {
  visibility: hidden;
  width: 0;
  height: 0;
}

.edit-profile input[type="tel"],
.edit-profile input[type="email"],
.edit-profile input[type="text"] {
  border: 1px solid #0c145a;
  padding: 0.75rem 1.625rem;
  color: #0c145a;
  max-width: 467px;
}

.edit-profile input[type="tel"]:focus-within,
.edit-profile input[type="email"]:focus-within,
.edit-profile input[type="text"]:focus-within {
  color: #0c145a;
}

.edit-profile input[type="tel"]::placeholder,
.edit-profile input[type="email"]::placeholder,
.edit-profile input[type="text"]::placeholder {
  color: #ccd0dd;
}

.edit-profile .btn-save {
  padding: 0.75rem;
  background-color: #4d17e2;
}

.edit-profile .button-group {
  max-width: 467px;
}
