
@import "/node_modules/bootstrap/scss/functions";


@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";
@import "/node_modules/bootstrap/scss/root";

@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/images";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/helpers";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/card";
@import "/node_modules/bootstrap/scss/forms";
@import "/node_modules/bootstrap/scss/badge";
@import "/node_modules/bootstrap/scss/carousel";
@import "/node_modules/bootstrap/scss/tables";
@import "/node_modules/bootstrap/scss/list-group";



@import "/node_modules/bootstrap/scss/utilities/api";

// @import "/node_modules/bootstrap/scss/bootstrap";
@import "./core/utils";

@import "./components/sidebar";

@import "./pages/homepage";
@import "./pages/detail";
@import "./pages/checkout";
@import "./pages/complete-checkout";
@import "./pages/sign-in";
@import "./pages/sign-up";
@import "./pages/sign-up-photo";
@import "./pages/404";
@import "./pages/member-overview";
@import "./pages/member-transactions";
@import "./pages/member-transactions-detail";

@import '/node_modules/aos/src/sass/aos.scss';
